    body {
        margin: 0;
        font-family: 'Bowlby One SC', cursive !important;
    }
    
    h1 {
        font-size: 150px !important;
        font-weight: bold;
        color: rgb(248, 243, 243);
        text-shadow: 2px 2px #ff0000;
    }
    
    .headline {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;
    }
    
    h2 {
        font-size: 50px;
        font-weight: bold;
        color: rgb(238, 226, 226);
        text-shadow: 2px 2px #121111;
    }
    
    h3 {
        text-shadow: 2px 2px #ff0000;
        letter-spacing: 2px;
    }
    
    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 50px;
        margin-top: 150px;
    }
    
    #backToTop {
        padding-top: 100px;
    }
    
    .counter {
        margin-top: 50px;
    }
    
    .counter span {
        padding: 10px;
    }
    
    h2:hover {
        text-shadow: 2px 2px 5px red;
    }
    
    .pokemonHeader {
        width: 100px;
    }
    
    .ballImg {
        width: 50px;
        padding-top: 5px;
        cursor: pointer;
    }
    
    .buttonAlign {
        position: absolute;
        top: 26%;
        text-align: center;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
    
    #start {
        background-image: url("img/startscreen.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-y: hidden;
    }
    
    .container-fluid {
        background-color: white !important;
    }
    
    .navbar {
        padding: 0 !important;
    }
    
    .offcanvas {
        width: 200px !important;
    }
    
    .navbar-brand img {
        margin-left: 20px;
    }
    
    .parent {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }
    
    .fullScreenDiv {
        display: flex;
        justify-content: center;
        background-image: url("img/startscreen.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 100vh;
        padding-top: 15%;
    }
    
    #pokemons {
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        justify-content: center;
    }
    
    #pokedex {
        margin-top: 100px;
        max-height: 500px;
        background-color: rgb(44, 171, 65);
        color: white;
        border-radius: 15px;
        border: 1px solid rgb(67, 67, 67);
        margin: 10px;
        box-shadow: 5px 6px #c7c3c3b3;
    }
    
    #pokedex span {
        padding-left: 20px;
    }
    
    #image {
        width: 300px;
        margin-bottom: 30px;
    }
    
    #image:hover {
        cursor: pointer;
    }
    
    .footerSpan {
        padding-bottom: 20px;
        letter-spacing: 2px;
        text-shadow: 2px 2px #ff0000;
    }
    
    .id {
        font-size: 30px;
        text-shadow: 2px 2px #ff0000;
    }
    
    .headDivider {
        display: flex;
        justify-content: space-between;
    }
    
    .headDivider {
        padding: 10px;
    }
    
    .d-none {
        display: none;
    }
    
    .btn {
        margin-top: 150px;
    }
    
    .loadMoreButton {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    
    .loadMoreBtn {
        background-color: rgb(44, 171, 65);
        color: white;
        border-radius: 15px;
        border: 1px solid rgb(67, 67, 67);
        margin: 30px;
        padding: 5px;
        box-shadow: 5px 6px #c7c3c3b3;
    }
    
    .scrollBack {
        position: fixed;
        right: 40px;
        bottom: 20px;
        z-index: 9;
        background-color: rgb(44, 171, 65);
        color: white;
        border-radius: 15px;
        border: 1px solid rgb(67, 67, 67);
        padding: 5px;
        box-shadow: 5px 6px #c7c3c3b3;
        cursor: pointer;
    }
    
    .impressum {
        background-color: white;
        color: black;
        padding: 50px;
        margin-top: 50px;
    }
    
    .impressum a {
        text-decoration: none;
        color: black;
    }
    
    .impressum a:hover {
        color: rgb(131, 130, 130);
    }
    
    .impressumWidth {
        width: 80%;
    }
    
    .animate {
        animation: 3s fadeIn ease-in-out;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @media (max-width:800px) {
        h1 {
            font-size: 60px !important;
        }
        h2 {
            font-size: 20px !important;
        }
    }